@charset "utf-8";
@import "./variables.scss";


// classes in use: content-area >
  //panel-content-area + panel${id} >
    //panel + data-active::before >
      //panelContent >
      //panelTop >
      //(panelTitle, panelFirstName, panelLastName, panelText  + a > linkText
      //no showText,
          //
      //panelBottom + panel${id}

.panel-content-area {
  display: flex;
  height: 80vh;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 3vh 2em 0 2em;
  margin: 3em 0 2em 0;
  width: 100vw;
  // background-image: url("../assets/images/Futuristic.jpg");

  .panel{
    display: flex;
    flex: 1 0 15%;
    z-index: 20;
    margin: 1em;
    flex-direction: column;
    // height: 70vh;
    border: 1px solid $gray-6;
    border-radius: $border-radius-half;
    background: linear-gradient($gray--62, $felt-beige--60);
    box-shadow: $box-shadow7;
    // box-shadow: .5em .5em 0.5em rgba(0, 0, 0, 0.3),
    // .2em 0.2em 0.8em rgba(0, 0, 0, 0.3);
    // color: $gray-2;
    transition: all 0.5s ease-in-out;

    // &::before {
    //     content: " ";
    //     position: absolute;
    //     left: 0;
    //     top: 65%;
    //     width: 100%;
    //     height: 50%;
    //     // background: $felt-beige--40
    //     //   linear-gradient(180deg, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.4));
    //     transition: 0.7s ease-in-out  transform;
    //     color: dodgerblue;
    // }

    // &:hover::before {
    //     color: green;
    // }

    &.active {
      color: $gray-45;
      // &::before {
      // }
      .panelContent {
        .panelTop {
          .panelName {
            color: $gray-2;
            // color: $gray-4;
          }
        }
        .panelBottom{
          filter:  grayscale(.08);
        }
      }
      // &:hover::before {
        // color: $gray--80;
        // color: yellowgreen;
        // filter:  grayscale(.05);
      // }
    } //end of active

      .panelContent {
        position: relative;
        min-height: 10vh;
        // min-height: 10px;
        transition:
          color 0.3s ease-in-out,
          filter 0.6s ease-in-out;
        
        .panelTop{
          display: flex;
          flex: 0 0 50%;
          flex-direction: column;
          padding: 3em 1.5em 1em 1.5em;
          line-height: 2.2;
          text-shadow: $text-shadow3;
          
          .panelTitle {
            font-family:'Nova Square', sans-serif;
            font-size: 1.1em;
            color: $gray-45;
            text-shadow: .1em .1em .4px $gray-8;
          }
          .panelName{
            color: $gray-5;
            line-height: 2.2em;
            padding: 0 0 .8em 0;
            .panelFirstName {
              font-family:'Nova Square', sans-serif;
              font-weight: 400;
              font-size: 1.3em;
            }
            .panelLastName {
              font-family: 'Raleway', sans-serif;
              font-weight: 900;
              font-size: 1.7em;
            }
          }
          .panelText {
            font-family:'Nova Square', sans-serif;
            font-size: 1.3em;
            line-height: 1.7;
            text-shadow: $text-shadow;
            color: $gray-2;
            &.showText{
              color: $gray-1;
            }
            .linkText {
              display: flex;
              float: right;
              align-self: flex-start;
              margin: 3em .5em 0 .5em;
              padding: .2em;
              color: $gray-4;
              background-color: $felt-red--60;
              transition:
                color 0.3s ease-in-out,
                background-color 0.5s ease-in-out ;
    
              .material-symbols-outlined {
                font-variation-settings:
                'FILL' 0,
                'wght' 900,
                'GRAD' 0,
                'opsz' 48
              }
              &:hover{
                color: $gray-1;
                background-color:$felt-red--80;
              }
            }
          }
        }
      
        .panelBottom{
          // position: relative;
          // justify-self: stretch;
          // object-fit: cover;
          // object-position: 50% 50%;
          // justify-self: center;
          // height: 15vh;
          // width: 105%;
          // z-index: 60;
          // padding: 1em 0 0 0;
          filter:  grayscale(.56);
          // &:hover{
          //   transition: all 0.6s ease-in-out;
          //   filter: grayscale(.20);
          //   filter: opacity(.2);
          // }
      
          .image-lizizhikevich{
            width: 100%;
            height: 400px;
            background-image: url("/assets/images/Liz-Izhikevich.png");
            background-origin: border-box;
            background-size: contain;
            background-repeat: no-repeat; 
            background-position: center top;
            overflow: hidden;
            // background-attachment: fixed;
            // border: 12px dashed dodgerblue;
            // position: absolute;
            // padding: 1em 0 0 0;
            // background-image: url("https://source.unsplash.com/WqhP-Oq2aVY/1500x1500"); //encounter glass wall
            // container {  width: 300px; height: 200px; }
            // .image { width: 100%; height: 100%;
            //   object-fit: cover; /* Or 'fill' */ }
          }
          .image-dilou{
            width: 100%;
            height: 400px;
            background-image: url("/assets/images/di-luo.png");
            background-origin: border-box;
            background-size: contain;
            background-repeat: no-repeat; 
            background-position: center top; 
            overflow: hidden;
          }
          .image-leozhou{
            width: 100%;
            height: 400px;
            background-image: url("/assets/images/leo-zhou.png");
            background-origin: border-box;
            background-size: contain;
            background-repeat: no-repeat; 
            background-position: center center; 
            overflow: hidden;
          }
          .image-deanpark{
            width: 100%;
            height: 400px;
            background-image: url("/assets/images/Chair_Williams_Yang.png");
            background-origin: border-box;
            background-size: contain;
            background-repeat: no-repeat; 
            background-position: center center; 
            overflow: hidden;
          }
          .panel-portrait{
            // width: auto;
            // color: magenta;
            // background-color: purple;
            // height: 250px;
            // border: 2px solid blue;
            // position: absolute;
            // object-fit: contain;
            // object-position: bottom;
          }
        } //end panelBottom

      } // end of panelContent

  &:hover{   //hover over panelContent
    transition: all 0.3s ease-in-out;
    box-shadow: $box-shadow3;
    text-shadow: $text-shadow3;
    color: $gray-1;
    cursor: context-menu;
    .panel.panelContent.panelTop{
      color: $gray-1;
      text-shadow: $text-shadow2;
    }
    // .panel.panelContent.panelBottom,{
    //   filter: grayscale(.3);
    // }
  }
  } // end of panel
} //end panel-content-area

.home-image{
  background-image: url("/assets/images/Futuristic.jpg");
  background-size: cover;
  background-position: center;
}


@media only screen and (max-width: 1200px) {
  .panel {
    font-size: 1em;
    line-height: 1.2em;
  };
}
@media only screen and (max-width: 900px) {
  .panel-content-area{
    display: flex;
    flex-direction: column;
    margin: 0;

    .panel {
      flex-direction: row;
      height: 24%;
      // filter: grayscale(0.1);
      .panelContent {
        display: flex;
        top: .05em;
        flex-direction: row;
        padding: 1.5em 1.5em;
        .panelTop{
          margin: 0;
          padding: 0;
        }
        .panelBottom{
          margin: 0;
          padding: 1em 0 0 0;
          width: 20%;
          height: 200px;
          flex-direction: row; 
          justify-content: flex-end;

          .image-bottom{
             width: 100%;
            //  height: 200px;
          }
          .image-lizizhikevich{
            //  width: 30%;
             height: 150px;
            background-position: center top;          }
         .image-dilou{
            // width: 20%;
            height: 150px;
          }
          .image-leozhou{
            // width: 20%;
            height: 150px;
           }
          .image-deanpark{
            // width: 110%;
            height: 150px;

          }
        }
      }

      &:hover{
        transition: filter 0.3s ease-in-out 0.3s;
        filter: grayscale(0.1);
      }
    }
  }

  .article {
    margin-left: 4%;
    margin-right: 4%;
  }
}
