@charset "utf-8";
@import "./variables.scss";

.navigation {
  display: flex;
  z-index: 20;
  flex-direction: row;
  align-items: center;
  padding: 0.7em 0 0 0;

  .logos{
    margin: 0 2rem;
    flex: none;
    position: fixed;
    z-index: 20;
    min-width: 80px;

    .logo-image{
      width: 86px;
      height: auto;
    }
  }

  ul.menu-container{
    display: flex;
    justify-content: space-evenly;
    flex: 1 1 100%;
    flex-direction: row;
    flex-wrap: no-wrap;
    margin: 0 12% 0 12%;
    padding: .3em .7em 0 0;
    height: 4.3em;
    text-align: center;
    background-color: $felt-red;
    z-index: 10;
    box-shadow: $box-shadow-article;

    a, li.menu-item, .menu-item{
      letter-spacing: 1px;
      color: $felt-beige-lt;
      padding: 0.3em .8em;
      font-family: Raleway;
      font-weight: 700;
      font-size: .95em;
      line-height: 1.1;
      cursor: pointer;
      transform: all .3s ease-in-out .3s;
      // opacity: 1;

      &:hover{
        color: $felt-beige-lt;
        // &::after { content: "▶"; margin-left: 5px; }
        text-decoration: 2px dashed $felt-beige--60 underline;
        // opacity: 0.8;
      }
      &.active {
        color: $felt-beige-lt;
        line-height: 1;
        border-bottom: 5px solid $gray-6;
      }
      &:active {
        color: $felt-beige-lt-lt-lt;
      }
    }
  } //end of ul.menu-container

   /* Medium screens */
  @media all and (max-width: 1200px) {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
       ul.menu-container {
        margin: 0 8% 0 8%;
      }
      .logos{
         margin: 0 .8em;
         min-width: 60px;
         .logo-image{
           width: 70px;
           height: auto;
         }
       }
  }
  @media all and (max-width: 1000px) {
 
    ul.menu-container {
      /* On small screens, wrap menu */
      // justify-content: space-around;
      flex-wrap: wrap;
      margin: 0 8% 0 10%;
      // padding: .3em 0 0 0;
      height: 7em;
    }
  }

  /* Small screens */
  @media all and (max-width: 850px) {
    ul.menu-container {
      /* On small screens, wrap menu */
      margin: 0 8% 0 12%;
      // height: 7em;
    }
  }
  @media all and (max-width: 750px) {
    .navigation{
      flex-direction: column;

    }
    ul.menu-container {
      /* On very small screens, wrap menu */
      margin: 0 3% 0 3%;
      
    }
  }
}
