@charset "utf-8";
@import "./variables.scss";

.page-submenu{
  display: flex;
  position: relative;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: flex-start;
  margin: 0 12% 0 12%;
  background-color: $yellow2--10;
  // background-image:  url("../assets/images/overlay.png");
  transition: all 1.8s ease-in-out;
  z-index: 30;
  box-shadow: $box-shadow-article;

  .bubble-link {
    display: flex;
    flex-direction: column;
    padding: 0.5em 0.2em ;
    max-width: 180px;
    text-align: center;
    align-items: center;
    // justify-content: center;
    transition: all .4s ease-in-out;

    .bubble-frame{
      position: relative;
      width: 4rem;
      height: 4rem;
      overflow: hidden;
      border: 1px solid $gray-7;
      background-color: $gray-2;
      border-radius: $border-radius;
      filter: grayscale(0.8);
      margin: 0.5em;
      text-align: center;
      transition: all .4s ease-in-out;

        img.bubble-image{
          height: 100%;
          width: 100%;
          object-fit: cover;
        }

        &.active {
          border: 1px solid $ubatuba;
          box-shadow: $box-shadow-gray;
          filter: grayscale(0.1);
        }
      }

      .bubble-text-link{
        .bubble-text {
          font-family: 'Raleway', sans-serif;
          font-weight: 600;
          font-size: .85em;
          color: $gray-6;

          &.active {
            color: $gray-8;
            // text-shadow: $text-shadow;
            transition: all .3s ease-in-out;
          }
        }

        &.active {
          color: $gray-7;
          // text-shadow: $text-shadow;
          transition: all .3s ease-in-out;
        }
      }

    &.bubble-link:focus,
    &.bubble-link:hover  {
      transition: all .3s ease-in-out;
      color: $gray-8;

      .bubble-frame{
        border: 1px solid $gray-8;
        box-shadow: $box-shadow3;
        filter: brightness(0.8);
        transition: all .3s ease-in-out;
      }
      .bubble-text {
        transition: all .3s ease-in-out;
        color: $gray-8;
      }
    }
  } //end bubble-link
  @media only screen and (max-width: 1200px) {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin: 0 8% -2px 8%;
   }
  /* Medium screens */
  @media only screen and (max-width: 950px) {
    margin: 0 8% 0 8%;
  }
  @media only screen and (max-width: 750px) {
    margin: 0 3% 0 3%;
  }
}