$val: 1;
$values: 0 0 100px;
$border-radius: 4px;
$border-radius-half: 2px;

$box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1), 2px 2px 3px rgba(0, 0, 0, 0.25);
$box-shadow3: 3px 3px 3px rgba(0, 0, 0, 0.4), 3px 3px 4px rgba(0, 0, 0, 0.3);
$box-shadow5: 2px 2px 3px rgba(0, 0, 0, 0.2), 3px 3px 5px rgba(0, 0, 0, 0.35);
$box-shadow-article: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);

$box-shadow-gray: 1px 1px 2px rgba(43, 43, 43, 0.10), 2px 2px 3px rgba(43, 43, 43, 0.20);

$box-shadow-a: 1px 1px 1px rgba(255,255,255, 0.15), 2px 2px 3px rgba(255,255,255, 0.20);
$box-shadow-a3: 2px 2px 2px rgba(255,255,255, 0.2), 3px 3px 4px rgba(255,255,255, 0.3);

$drop-shadow: drop-shadow(1px 1px 0 rgba(255, 255, 255, .7));
$drop-shadow3: drop-shadow(3px 3px 3px rgba(255, 255, 255, .7));
$drop-shadow5: drop-shadow(.5rem .5rem 1rem rgba(255, 255, 255, .85));

$text-shadow: rgba(43, 43, 43, 0.5) 0.15em 0.15em 4px ;
$text-shadow-drop: rgba(43,43,43,0.7);
$text-shadow-drop2: rgba(104,118,109, 0.3) .09em .05em;

//colors:

$ubatuba: #68766D;
$ubatuba--10: rgba(104,118,109, .1);
$ubatuba--30: rgba(104,118,109, .3);
$ubatuba--40: rgba(104,118,109, .4);
$magenta: rgb(145, 30, 80);
$dodge: rgb(42, 94, 140);
$dodge--20: rgba(42, 94, 140, 0.2);
$dodge--30: rgba(42, 94, 140, 0.3);
$dodge--50: rgba(42, 94, 140, 0.5);
$dodge--70: rgba(42, 94, 140, 0.7);
$artY1: rgb(250, 210,0);
$artY2: rgb(220, 200,120);

$section1: #d1f2eb; // blue news
$section2: #DAF7A6; // green hilts
$section3: #FFC300; // orange students
$section4: #FF5733; // deeep orange faculty
$section5: #CD5C5C; // overview indian red
$section6: #C71585; // alumni mediumViolet




//felt-beige
$felt-beige-lt-lt-lt: rgb(255, 255, 240); // cream
$felt-beige-lt-lt: rgb(240, 240, 210); //
$felt-beige-lt: rgb(220, 220, 180); //
$felt-beige: rgb(200, 200, 160); //fomer $pm app baground / submenu
$felt-beige-dk: rgb(170, 170, 140);
$felt-beige-dk-dk: rgb(140, 140, 110);
$felt-beige-dk-dk-dk: rgb(110, 110, 90);

//felt-beige transparency
$felt-beige--30: rgba(200, 200, 160, 0.3);
$felt-beige--40: rgba(200, 200, 160, 0.4);
$felt-beige--60: rgba(200, 200, 160, 0.6);
$felt-beige--80: rgba(200, 200, 160, 0.8);

// felt-red
$felt-red-lt: rgb(190, 30, 5);
$felt-red-med: rgb(120, 25, 5);
$felt-red: rgb(100, 20, 5); 
$felt-red-dk: rgb(70, 5, 5); 

$felt-red--30: rgba(100, 20, 5, 0.3); 
$felt-red--50: rgba(100, 20, 5, 0.5);
$felt-red--60: rgba(100, 20, 5, 0.6);
$felt-red--70: rgba(100, 20, 5, 0.7);   
$felt-red--80: rgba(100, 20, 5, 0.8);

//gray
$gray-1: #f5f5f5; // 245, 245, 245;
$gray-2: #e0e0e0; //224, 224, 224 very light gray
$gray-4: #dcdcdc; //200, 200, 200  gray
$gray-6: #6e6e6e; // 110, 100, 110 y
$gray-7: #555555; // 85 85 85 dk gray
$gray-8: #2b2b2b; // 43 43 43 very DK gray

$gray--20: rgba(43,43,43,0.2); // transparent
$gray--40: rgba(43,43,43,0.4); // transparent
$gray--80: rgba(43,43,43,0.8); // transparent